body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #1f2937;
    position: relative;
    overflow-x: hidden;
}

.body-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
            linear-gradient(to bottom, rgba(31,41,55,0.4), #1f2937),
            url('./img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: background 1s ease;
}

.leaders-separator-img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
}

.department-title {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
    color: #e5e7eb;
}

.leaders-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.deputies-separator {
    width: 2px;
    height: 100px;
    background-color: #444;
    margin: 0 15px;
}



body.loaded {
    animation: fadeInBackground 1s ease forwards;
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
        background-color: #1f2937;
    }
    100% {
        opacity: 1;
        background-color: #1f2937;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    pointer-events: none;
    z-index: 0;
    transition: background 0.5s ease, opacity 1s ease;
}
